$col-black: #07090f;
$col-white: #ffffff;
$col-green: #040e08;
$col-brown: #2b2118;
$col-boulder: #777777;
$col-gray: #aaaaaa;

$font-cormorant: "Cormorant";

$gradient: linear-gradient(
  90deg,
  rgba(233, 227, 198, 0.5) 0%,
  rgba(233, 198, 217, 0.5) 100%
);
