<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/src/public/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/src/public/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/src/public/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/src/public/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/src/public/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Nero - Infinite Slider (2)</title>
    <link
      rel="stylesheet"
      type=""
      href="/src/app/styles/pages/infinite-slider/demo-2.scss"
    />
  </head>
  <body>
    <main class="demo-2">
      <div class="demo-navigation">
        <span>
          <a href="/">Home</a>
        </span>
        <span>
          <a href="./demo-1.html">Previous Demo</a>
        </span>
      </div>

      <div class="demo-2__gallery">
        <figure class="demo-2__gallery__figure">
          <img
            class="demo-2__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051831/codepen/met-gala/FvFuMR2XwAA-Xwi_zlxiri.jpg"
          />
        </figure>

        <figure class="demo-2__gallery__figure">
          <img
            class="demo-2__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051831/codepen/met-gala/FvFWliKXgAA1mRD_cjgoqb.jpg"
          />
        </figure>

        <figure class="demo-2__gallery__figure">
          <img
            class="demo-2__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051831/codepen/met-gala/billie-eilish_xom00f.jpg"
          />
        </figure>

        <figure class="demo-2__gallery__figure">
          <img
            class="demo-2__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1662478147/all/cld-sample.jpg"
          />
        </figure>

        <figure class="demo-2__gallery__figure">
          <img
            class="demo-2__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1662478148/all/cld-sample-3.jpg"
          />
        </figure>

        <figure class="demo-2__gallery__figure">
          <img
            class="demo-2__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683041006/codepen/img/tiles/rocks/base_ul1akd.jpg"
          />
        </figure>

        <figure class="demo-2__gallery__figure">
          <img
            class="demo-2__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683041006/codepen/img/tiles/snow/base_du1crw.jpg"
          />
        </figure>
      </div>
    </main>
    <script
      src="/src/app/pages/infinite-slider/demo-2.js"
      type="module"
    ></script>
  </body>
</html>
