<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/src/public/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/src/public/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/src/public/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/src/public/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/src/public/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Nero - Infinite Slider (1)</title>
    <link
      rel="stylesheet"
      type=""
      href="/src/app/styles/pages/infinite-slider/demo-1.scss"
    />
  </head>
  <body>
    <main class="demo-1">
      <div class="demo-navigation">
        <span>
          <a href="/">Home</a>
        </span>
        <span>
          <a href="./demo-2.html">Next Demo</a>
        </span>
      </div>
      <div class="demo-1__gallery">
        <figure class="demo-1__gallery__figure">
          <img
            class="demo-1__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683129589/codepen/met-gala/dua-lipa-Met-Gala-2023-04020e7b2705411d9ac2db9e4ad12686_bowy3o.jpg"
            crossorigin="anonymous"
          />
        </figure>

        <figure class="demo-1__gallery__figure">
          <img
            class="demo-1__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051832/codepen/met-gala/lamar_yr9gaw.png"
            crossorigin="anonymous"
          />
        </figure>

        <figure class="demo-1__gallery__figure">
          <img
            class="demo-1__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051832/codepen/met-gala/FvFY4deWIAA1bZq_ulxrax.jpg"
            crossorigin="anonymous"
          />
        </figure>

        <figure class="demo-1__gallery__figure">
          <img
            class="demo-1__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051832/codepen/met-gala/anne-hathaway_owvmlb.jpg"
            crossorigin="anonymous"
          />
        </figure>

        <figure class="demo-1__gallery__figure">
          <img
            class="demo-1__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051832/codepen/met-gala/FvFTnHUXgAAAjTh_linsrl.jpg"
            crossorigin="anonymous"
          />
        </figure>

        <figure class="demo-1__gallery__figure">
          <img
            class="demo-1__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051832/codepen/met-gala/FvFIk7uXsAAtWb__ezdu7j.jpg"
          />
        </figure>

        <figure class="demo-1__gallery__figure">
          <img
            class="demo-1__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051831/codepen/met-gala/FvFYVlnX0AEv27J_ysgcf6.jpg"
            crossorigin="anonymous"
          />
        </figure>

        <figure class="demo-1__gallery__figure">
          <img
            class="demo-1__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051831/codepen/met-gala/FvFQ8NTX0AALCam_z9h8hf.jpg"
            crossorigin="anonymous"
          />
        </figure>

        <figure class="demo-1__gallery__figure">
          <img
            class="demo-1__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051831/codepen/met-gala/FvHSgFwaEAAr_FV_z63hfe.jpg"
          />
        </figure>

        <figure class="demo-1__gallery__figure">
          <img
            class="demo-1__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051831/codepen/met-gala/halle-bailey_sf7uri.jpg"
            crossorigin="anonymous"
          />
        </figure>

        <figure class="demo-1__gallery__figure">
          <img
            class="demo-1__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051831/codepen/met-gala/FvFdK-6XwAQ7KvA_mrr7gy.jpg"
            crossorigin="anonymous"
          />
        </figure>

        <figure class="demo-1__gallery__figure">
          <img
            class="demo-1__gallery__image"
            src="https://res.cloudinary.com/dz37h4oq1/image/upload/v1683051831/codepen/met-gala/manu-rois_muono2.jpg"
            crossorigin="anonymous"
          />
        </figure>
      </div>
    </main>
    <script
      type="module"
      src="/src/app/pages/infinite-slider/demo-1.js"
    ></script>
  </body>
</html>
