<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/src/public/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/src/public/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/src/public/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/src/public/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/src/public/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Nero - Creative Technologist</title>
    <link
      rel="stylesheet"
      type=""
      href="/src/app/styles/pages/marquee/index.scss"
    />
  </head>
  <body>
    <!-- Navigation -->

    <nav class="home__nav">
      <div class="home__nav-name">
        <a href="/">Nero</a>
      </div>
      <ul class="home__nav-list">
        <li class="home__nav-list__item">About</li>
        <li class="home__nav-list__item">Components</li>
      </ul>
    </nav>

    <!-- Menu -->
    <section class="home__menu">
      <div class="home__menu-wrapper">
        <div class="home__menu-item">
          <div class="marquee">
            <div class="marquee__inner-wrap">
              <div class="marquee__inner" aria-hidden="true">
                <div
                  class="marquee__img"
                  style="
                    background-image: url(https://images.unsplash.com/photo-1562907550-096d3bf9b25c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGRldmVsb3BlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60);
                  "
                ></div>
                <span>engineer</span>
                <div
                  class="marquee__img"
                  style="
                    background-image: url(https://images.unsplash.com/photo-1562907550-096d3bf9b25c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGRldmVsb3BlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60);
                  "
                ></div>
                <span>designer</span>
                <div
                  class="marquee__img"
                  style="
                    background-image: url('https://d2wx6rahy8yxgr.cloudfront.net/filters:format(webp)/111af8fe-a441-4128-b7f5-e1ce7032fa3e-Frame-1.png');
                  "
                ></div>
                <span>creative</span>
                <div
                  class="marquee__img"
                  style="
                    background-image: url(https://cdn.inprnt.com/thumbs/d4/f6/d4f61ccab32fce06b331da2336131bee.jpg);
                  "
                ></div>
                <span>technologist</span>
              </div>
            </div>
          </div>
          <a href="" class="home__menu-item__link">
            <span class="home__menu-item__link-inner"> mind </span>
          </a>
        </div>

        <div class="home__menu-item">
          <div class="marquee">
            <div class="marquee__inner-wrap">
              <div class="marquee__inner" aria-hidden="true">
                <div
                  class="marquee__img"
                  style="
                    background-image: url('https://i1.sndcdn.com/avatars-000604322796-f7vm1s-t500x500.jpg');
                  "
                ></div>
                <span>dancer</span>

                <div
                  class="marquee__img"
                  style="
                    background-image: url('https://i1.sndcdn.com/avatars-000604322796-f7vm1s-t500x500.jpg');
                  "
                ></div>
                <span>body builder</span>
                <div
                  class="marquee__img"
                  style="
                    background-image: url('https://i.scdn.co/image/ab67706c0000da841df7f33a6cbc9ec9591ed8bf');
                  "
                ></div>
                <span>writer</span>
                <div
                  class="marquee__img"
                  style="
                    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/78/Vasily_Perov_-_%D0%9F%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82_%D0%A4.%D0%9C.%D0%94%D0%BE%D1%81%D1%82%D0%BE%D0%B5%D0%B2%D1%81%D0%BA%D0%BE%D0%B3%D0%BE_-_Google_Art_Project.jpg');
                  "
                ></div>
                <span>autodidact</span>
                <div
                  class="marquee__img"
                  style="
                    background-image: url('https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJvb2tzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60');
                  "
                ></div>
              </div>
            </div>
          </div>
          <a href="" class="home__menu-item__link">
            <span class="home__menu-item__link-inner"> body </span>
          </a>
        </div>

        <div class="home__menu-item">
          <div class="marquee">
            <div class="marquee__inner-wrap">
              <div class="marquee__inner" aria-hidden="true">
                <div
                  class="marquee__img"
                  style="
                    background-image: url('https://images.unsplash.com/photo-1585066039857-a33b12c14f6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHJvb3NldmVsdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=700&q=60');
                  "
                ></div>
                <span>public speaker</span>
                <div
                  class="marquee__img"
                  style="
                    background-image: url('https://images.unsplash.com/photo-1632504102568-fb9282ec920f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3BhaW4lMjBmbGFnfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60');
                  "
                ></div>
                <span>polyglot</span>
                <div
                  class="marquee__img"
                  style="
                    background-image: url('https://images.unsplash.com/photo-1578348398360-66ce64ba7b68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80');
                  "
                ></div>
                <span>catholic</span>
                <div
                  class="marquee__img"
                  style="
                    background-image: url('https://images.unsplash.com/photo-1625917858697-6c87a1e8d05e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cGhpbG9zb3BoZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60');
                  "
                ></div>
                <span>philosopher</span>
              </div>
            </div>
          </div>
          <a href="" class="home__menu-item__link">
            <span class="home__menu-item__link-inner"> spirit </span>
          </a>
        </div>
      </div>
    </section>
    <script type="module" src="/src/app/pages/marquee/index.js"></script>
  </body>
</html>
