@font-face {
  font-family: "Neue Haas";
  src: url("/src/fonts/neue-haas-display-roman.woff2") format("woff2"),
    url("/src/fonts/neue-haas-display-roman.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas";
  src: url("/src/fonts/neue-haas-display-light.woff2") format("woff2"),
    url("/src/fonts/neue-haas-display-light.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
